:root {
    --surface:hsl(210 10% 4%);
    --text: hsl(210 10% 98%);
    --text2: hsl(210 50% 89%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
a, a:link, a:visited, button {
    color: inherit !important;
}
html {
    font-size: 62.5%;
}
body {
    background: var(--surface);
    color: var(--text);
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    overflow-x: hidden;
}
#root {
    background: var(--surface);
    color: var(--text);
    min-block-size: 100vh;
    display: flex;
    padding: .8rem;

}
.admin-books-container {
    background: hsla(210, 9%, 9%, 1);
    inline-size: min(100%, 550px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.2rem;
    margin: auto;
    padding: 1.2rem;
    border-radius: 8px;
}
.admin-header {
    grid-column: 1 / -1;
    font-size: 3.7rem;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 300;
    padding-block-end: .8rem;
    border-bottom: 2px solid var(--surface);

}
.admin-book {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.admin-book:nth-child(odd) {
    background: hsl(210 10% 17%);
    border-radius: 8px;
}
.admin-book:nth-child(odd) input {
    border-radius: 0;
}
@media only screen and (min-width: 550px) {
    .admin-book:nth-child(odd) input {
        border-start-end-radius: 8px;
        border-start-start-radius: 8px;
    }
    .admin-book:nth-child(odd) {
        background: none;
        border-radius: 0;
    }
}
.admin-book h5{
    color: var(--text2);
    font-size: 1.7rem;
    padding: .8rem .2rem;
}
.admin-book input {
    background: var(--surface);
    color: inherit;
    font-size: 1.6rem;
    padding: .6rem .8rem;
    border: none;
    outline: none;
    border-start-end-radius: 8px;
    border-start-start-radius: 8px;
}
.admin-book button {
    background: hsl(210 50% 25%);
    font-size: 1.6rem;
    border: none;
    border-end-end-radius: 8px;
    border-end-start-radius: 8px;
    transition: background 250ms ease;
}
.admin-book button:hover {
    background: hsla(210, 50%, 25%, .6);
}
.admin-book button:active {
    background: hsl(210 50% 45%);
}